<div>
  <h1>Edit Event</h1>
  <div>
      <label>Date</label>
      <p><input [(ngModel)]="selectedEvent.month">/<input [(ngModel)]="selectedEvent.day">/<input [(ngModel)]="selectedEvent.year"></p>
  </div>
  <div>
    <label>Address</label>
    <p><input [(ngModel)]="selectedEvent.address"></p>
  </div>
  <div>
    <label>Hours</label>
    <p>From <input [(ngModel)]="selectedEvent.openHour"> To <input [(ngModel)]="selectedEvent.closeHour"></p>
  </div>
  <div>
    <label>Map Coordinates</label>
    <p>Lat: <input [(ngModel)]="selectedEvent.latitude"> Long: <input [(ngModel)]="selectedEvent.longitude"></p>
  </div>
  <div>
    <button (click)="beginUpdatingEvent(selectedEvent)">Update</button>
  </div>
</div>
