<h1>Event-List</h1>

<div *ngFor="let currentEvent of childEventList" (click)="goToDetailPage(currentEvent)" class="panel panel-default">
  <div class="panel-body">
    <h1>{{currentEvent.month}}/{{currentEvent.day}}/{{currentEvent.year}}</h1>
    <h3>{{currentEvent.address}}</h3>
    <h3>Hours:{{currentEvent.openHour}}-{{currentEvent.closeHour}}</h3>
    <app-event-map></app-event-map>
    <button (click)="editButtonClicked(currentEvent)">Edit</button>
    <button (click)="deleteButtonClicked(currentEvent)">Delete</button>
  </div>
</div>
