<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Food Truck Finder</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="catering">Catering</a></li>
    </ul>
  </div>
</nav>

<app-event-list [childEventList]="masterEventList" (clickEventToBeEdited)="editEvent($event)" (clickDeleteEvent)="deleteEvent($event)"></app-event-list>
<app-new-event (sendEvent)="addEvent($event)"></app-new-event>
<app-edit-event [childSelectedEvent]="selectedEvent" (clickDone)="editingDone()" ></app-edit-event>
<router-outlet></router-outlet>
